<div class="dropdown-container mb-4">
  <div>
    <h4>Option</h4>
    <form action="/items" method="get">
      <div class="d-flex flex-wrap align-items-center gap-3">
        <label class="form-check-label d-flex align-items-center gap-1">
          <input type="checkbox" name="options[]" value="Siamois" class="form-check-input">
          Siamois
        </label>
        <label class="form-check-label d-flex align-items-center gap-1">
          <input type="checkbox" name="options[]" value="Abyssinian" class="form-check-input">
          Abyssinian
        </label>
        <label class="form-check-label d-flex align-items-center gap-1">
          <input type="checkbox" name="options[]" value="Bengal" class="form-check-input">
          Bengal
        </label>
        <label class="form-check-label d-flex align-items-center gap-1">
          <input type="checkbox" name="options[]" value="Birman" class="form-check-input">
          Birman
        </label>
        <label class="d-flex align-items-center gap-2">
          <select name="sort" class="form-select">
            <option value="price_asc">Prix croissant</option>
            <option value="price_desc">Prix décroissant</option>
            <option value="date">Date</option>
            <option value="random">Aléatoire</option>
          </select>
        </label>
        <input type="submit" name="commit" value="Filtrer" class="btn-custom default">
      </div>
    </form>
  </div>
</div>

