<%= render 'items/form' %>

<div class="boxes-con">
  <% @items.each do |item| %>
    <div class="boxes">
      <%= link_to item_path(item) do %>
        <%= image_tag item.image, class: "", alt: item.title %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center my-4">
<%= will_paginate @products, class: "pagination pagination-lg" %>
</div>

