/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card{
    box-shadow: #c45333;
}

.img-container:hover {
    transform: scale(1.1);
}

.dropdown-menu {
    z-index: 1000;
    /* Priorité élevée */
    display: none;
    /* Par défaut, le menu est caché */
}

.dropdown-menu.show {
    display: block;
    /* Affiche le menu quand il a la classe .show */
}
.btn-custom-update {
    background-color: #E78585;
    /* Couleur principale du logo */
    border-color: #F2E3BF;
    color: white;
}

.btn-custom-update:hover {
    background-color: #FF5757;
    /* Une teinte plus foncée pour le hover */
    border-color: #F2E3BF;
    color: white
}

.btn-custom-cancel {
    background-color: rgb(44, 31, 0);
    /* Couleur principale du logo */
    border-color: #F2E3BF;
    color: white;
}

.btn-custom-cancel:hover {
    background-color: #FF5757;
    /* Une teinte plus foncée pour le hover */
    border-color: #F2E3BF;
    color: white
}

.btn-custom-back {
    background-color: #E68265;
    /* Couleur principale du logo */
    border-color: #F2E3BF;
    color: white;
}

.btn-custom-back:hover {
    background-color: #c45333;
    /* Une teinte plus foncée pour le hover */
    border-color: #F2E3BF;
    color: rgb(255, 255, 255)
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fad1ee;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ffbaba , #FF5757);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ecc5c3 , #E78585)
    }

    