/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    transition: transform 0.3s ease;
}



.img-container:hover {
    transform: scale(1.1);
}

.dropdown-menu {
    z-index: 1000;

    display: none;

}

.dropdown-menu.show {
    display: block;

}

.btn-custom {
    width: auto;
    height: 40px;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-custom:hover {
    transform: translateY(3px);
    box-shadow: none;
    color: #480707;

}

.btn-custom:active {
    background-image: linear-gradient(135deg, #ec6c6c 0%, #df3e3e 100%);
}

.default {
    background-image: linear-gradient(135deg, #ffe6e6 0%, #ffc8c8 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.2);
    color: #480707
}

.order {
    background-image: linear-gradient(135deg, #ffe6e6 0%, #ffc8c8 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.2);
    color: #480707;
}

.basic {
    background-image: linear-gradient(135deg, #ffa0a0 0%, #ff5757 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.2);
}

.update {
    background-image: linear-gradient(135deg, #ffe1e1 0%, #ffa0a0 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.2);
    font-size: 12px;
    height: 30px;
}

.cancel {
    border: 3px solid #ffa0a0;
    color: #480707;
    background-color: white;
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.2);
    font-size: 12px;
}

.delete {
    width: auto;
    border: 2px solid #ffa0a0;
    color: #480707;
    background-color: white;
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.2);
    font-size: 12px;
    height: 30px;
}



.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fad1ee;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ffbaba, #FF5757);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ecc5c3, #E78585)
}

.amount {
    white-space: nowrap;
}


.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Card styling */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: #c45333;
    object-fit: cover;
}

.card-header {
    background-color: #f7f7f7;
    padding: 15px;
}

.card-body {
    padding: 15px;
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.2);
    object-fit: cover;
    /* Pour que l'image couvre complètement la zone sans déformation */
}

/* Statut de la commande */
.order-status {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.order-status.pending {
    background-color: #ffc107;
    color: #ffffff;
}

.order-status.validated {
    background-color: #28a745;
    color: #ffffff;
}

.order-status.canceled {
    background-color: #dc3545;
    color: #ffffff;
}

.order-status.failed {
    background-color: #6c757d;
    color: #ffffff;
}

/* Images dans les cartes */

.card-img-top {
    width: 100%;
    /* Pour que l'image prenne toute la largeur du conteneur */
    height: 200px;
    /* Hauteur fixe pour uniformiser la taille des images */
    object-fit: cover;
    /* Pour que l'image couvre complètement la zone sans déformation */

}

/* footer en bas*/
.cart-text {
    font-size: 0.8rem;
    /* Réduit la taille du texte */
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
flex: 1;
}
.footer {
background: #f8f9fa;
padding: 10px;
text-align: center;
}
.commandes{
    margin-top: 20px;
}
