/* Exemple de classes personnalisées */
.btn-custom-primary {
    width: auto;
    height: 40px;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    background-image: linear-gradient(135deg, #ffe6e6 0%, #ffc8c8 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.2);
    color: #480707;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-custom-primary:hover {
    transform: translateY(3px);
    box-shadow: none;
    color: #480707;
}

.btn-custom-secondary {
    width: auto;
    height: 40px;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    background-image: linear-gradient(135deg, #ffa0a0 0%, #ff5757 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.2);
    color: #480707;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-custom-secondary:hover {
    transform: translateY(3px);
    box-shadow: none;
    color: #480707;
}

.btn-custom-delete {
    background-color: #FF5757;
    /* Couleur principale du logo */
    border-color: white;
    color: white;
}

.btn-custom-delete:hover {
    background-color: #350000;
    /* Couleur principale du logo */
    border-color: white;
    color: white;
}